/* Vars */
:root {
  --desaturatedRed: hsl(0, 36%, 70%);
  --softRed: hsl(0, 93%, 68%);
  --darkGrayishRed: hsl(0, 6%, 24%);
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  line-height: 1.6;
  color: #333;
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
}

a {
  text-decoration: none;
  color: #333;
}

.main {
  height: 100vh;
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
}

.flex-container {
  display: flex;
  height: 100%;
}

.left {
  width: 60%;
  padding: 0 4rem 4rem;
}

.left-content {
  max-width: 45rem;
  margin: auto;
}

.top {
  padding: 2rem 0;
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.title {
  font-size: 5rem;
  letter-spacing: 1rem;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.title span {
  font-weight: 300;
  color: var(--desaturatedRed);
}

.lead {
  font-size: 1.5rem;
  color: var(--desaturatedRed);
  margin-bottom: 4rem;
}

.mobile-img {
  display: none;
}

.form {
  width: 100%;
  position: relative;
}

.form input {
  background-color: transparent;
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  height: 55px;
  width: 100%;
  cursor: pointer;
}

.form input::placeholder {
  color: var(--desaturatedRed);
  text-transform: capitalize;
}

.form input:hover,
.form input:focus {
  outline: none;
  border-color: var(--softRed);
}

.btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10rem;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  outline: none;
  border: none;
  border-radius: 50rem;
  cursor: pointer;
  transition: opacity 250ms ease;
}

.btn:hover {
  opacity: 0.6;
}

.right {
  width: 40%;
  background: url("../images/hero-desktop.jpg") no-repeat center center/cover;
}

@media screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .top {
    margin-bottom: 1rem;
  }

  .mobile-img {
    display: block;
    width: 100vw;
    margin-left: -4rem;
    margin-bottom: 3rem;
  }

  .right {
    display: none;
  }
}
